<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Calculadora de P.L</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="bg-slate-50 text-slate-800 flex justify-center items-center min-h-screen m-0 font-sans">

    

    <div class="bg-white p-10 rounded-2xl shadow-lg w-[90%] max-w-225">
        
    </div>
    <script src="{{ url_for('static', filename='javascript/validDatos.js') }}"></script>

</body>
</html>